.header {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.nav-list li {
  margin-right: 1rem;
  color: white;
}

.nav-list li:last-child {
  margin-right: 0;
  color: white;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
}
