.glitch {
  background: url('../assets/neoINTRO.png');
  background-repeat: no-repeat;
}

.glitch-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.animate {
  animation: animate 0.2s ;
}


@keyframes animate {
  0%, 100% {
    background-position: 0px 0px;
    transform: skewX(0deg);
  }
  10% {
    background-position: 5px 0px;
    transform: skewX(-4deg);
  }
  20% {
    background-position: -5px 0px;
    transform: skewX(5deg);
  }
  30% {
    background-position: 15px 0px;
    transform: skewX(-3deg);
    color: greenyellow;
  }
  40% {
    background-position: 5px 0px;
    transform: skewX(5deg);
  }
  50% {
    background-position: -25px 0px;
    transform: skewX(-8deg);
  }
  60% {
    background-position: -50px 0px;
    transform: skewX(5deg);
  }
  70% {
    background-position: 0px -20px;
    transform: skewX(-3deg);
  }
  80% {
    background-position: -60px -20px;
    transform: skewX(3deg);
  }
  90% {
    background-position: 30px 20px;
    transform: skewX(-12deg);
  }
}
